body{
    color: #EEE;
    font-family: monospace;
    margin: 0px;
    font-size: 35px;
    font-weight: bold;
}
#container {
    background-color: #151521;
    width: 100vw;
    height: 100vh;
}
#gui{
    position: absolute;
    top: 0px;
    left: 0px;
    user-select: none;
}
.button{
    background-color: #ddd;
    height: 50px;
    width: 50px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}
.button img{
    width: 100%;
}
#cheatSheet{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
}
#cheatSheet img{
    max-width: 60vw;
    max-height: 100%;
}